/*----Slider----*/
.slider{
    width: 978px;
    /*overflow: hidden;*/
    position: relative;
}
.slider_wrapper{
    height: 135px;
    width: 4000px;
    position: relative;
    transition: transform 500ms linear;
}
.slide {
    float: left;
    position: relative;
    width: 978px;
    height: 128px;
}
.slider_nav {
    position: absolute;
    top: 70%;
    left: 95%;
    /*margin-left: 2em;*/
    height: 40px;
    width: 40px;
    /*margin-top: 1.5em;*/
}

.slider_nav button {
    border: none;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    /*text-indent: -9999em;*/
    background-color: transparent;
    background-repeat: no-repeat;

}

.slider_nav button:focus{
    outline: none;
}

.slider_nav button.slider_previous {
    float: left;
    background-image: url('../images/prev.png');
}

.slider_nav button.slider_next {
    float: right;
    background-image: url('../images/next.png');
}





